*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
/*navbar styling*/
.width-max{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
    display: inline-block;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background: ;
}
.navbar .logo a{
    font-size: 20px;
    font-weight: 700px;
    color: #000;
}

.big{
    color: #000;
    font-size: 55px;
    font-weight: bold;
}
.red{
    color: red;
    font-size: 50px;
    font-weight: bold;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #000;
    font-weight: bold;
    font-size: 20px;
    transition: all ease;
}
.navbar .width-max{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu2{
    margin-left: 18px;
}
.menu3{
    margin-left: 18px;
}

/*main text style*/
.main-text .introduce h1{
    text-align: left;
    font-size: 50px;
}

.int-mod{
    list-style: none;
    display: inline-block;
}
